<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.teamnemitoff.phonedialer"
    version="0.3.0">
    <name>PhoneDialer</name>
    <description>Dials Phone without extra confirmation pop-up</description>
    <license>Apache 2.0</license>
    <keywords>cordova,dialer</keywords>
    <js-module src="www/dialer.js" name="phonedialer">
        <merges target="phonedialer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneDialer">
                <param name="ios-package" value="PhoneDialer"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PhoneDialer.h"/>
        <source-file src="src/ios/PhoneDialer.m"/>
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneDialer">
                <param name="android-package" value="com.teamnemitoff.phonedialer.PhoneDialer"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>
        <source-file 
            src="src/android/PhoneDialer.java" 
            target-dir="src/com/teamnemitoff/phonedialer"/>
    </platform>
</plugin>
